<%= form_for @meal, class: "form-horizontal" do |f| %>
  <div class="form-group">
    <%= f.label :date, class: "col-sm-2 control-label" %>
    <%= f.date_field :date, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title, class: "col-sm-2 control-label" %>
    <%= f.text_area :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-2 control-label" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-2 control-label" %>
    <%= f.number_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :category, class: "col-sm-2 control-label" %>
    <%= f.text_area :category, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :location_address, class: "col-sm-2 control-label" %>
    <%= f.text_area :location_address, class: 'form-control' %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary btn-block' %>
<% end %>